body{
	margin: 0 auto;
	width: 700px;
	background-image: url(bg.png);
}
.lists, form, .tasks{
	width: 600px;
	margin: 50px auto;
}
.lists .panel-body{
	padding: 0;
}
.list-group{
	margin-bottom: 0;
}
.actions{
	position: relative;
	float: right;
	top: -19px;
}
.listDeleteBtn{
    position: relative;
    float: right;
    left: 27px;
    bottom: 29px;
}